/* .header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(32, 30, 30);
  color: white;
  align-items: center;
}
h1 {
  margin: 0;
} */
/* .side {
  display: flex;
  justify-content: space-between;
  width: 190px;
  align-items: center;
  margin-right: 30px;
} */